# Django
DEBUG=true
DJANGO_SETTINGS_MODULE=sisinf2p.settings
SECRET_KEY=")c=p(*r9d2om1=y5n5_!6(8p^inr+_rr=ouy5_ye8q(k42=$13"
ALLOWED_HOSTS=192.168.99.100
ADMIN_EMAIL=

# Site
SITE_URL=http://192.168.99.100

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=basica
POSTGRES_DB=db
